{% extends "proyectowebapp/Base_A.html" %}

{% load static %}

{% block content %}

<!--   INICIO    -->

<div class="contenedorFormulario">

    <!--        CHACEMOS UNA VALIDACION SI SE MANDA LA INFO A LO QUE ES EL POST     -->
    
    {% if "valido" in request.GET %}
        <p style="color:antiquewhite ;">
            Informacion enviada correctamente, Gracias
        </p>
    {% endif %}

    <!--        ESTE ES EL APARTADO DE DISEÑO DE PAGINA     -->
    <form action="" method="POST" style="text-align:center;">
        {% csrf_token %}
        <table style="color:antiquewhite;margin: 20px auto;">
            {{miFormulario.as_table}}
        </table>
        <input type="submit" value="Enviar" style="width: 150px;">
    </form>
    
</div>

<!--    FINAL   -->

{% endblock %}
